* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #1e1e23;
}

header {
    width: 100%;
    height: 100px;
    top: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #19ff19;
}

img {
    vertical-align: text-bottom;
    width: 50px;
}


.main {
    max-width: 1000px;
    margin: auto;
}

.header {
    line-height: 100px;
    position: absolute;
    color: #19ff19;
}

.title {
    margin-top: 5%;
    text-align: center;
    font-size: 24pt;
    color: #19ff19;
}

.about {
    margin-top: 10px;
    display: flex;
    border: 5px solid #7a7a7a;
    border-radius: 10px;
    text-align: center;
}

.text-about {
    max-width: auto;
    color: #19ff19;
    font-size: 16pt;
    margin: 10px;
}

.buttons {
    font-size: 20pt;
    margin: 25px auto;
    text-align: center;
}

.buttons2 {
    font-size: 20pt;
    margin: 25px auto;
    text-align: center;
}

.button {
    text-decoration: none;
    color: #008000;
    padding: 5px 10px;
    border: 2px solid #008000;
    border-radius: 10px;
}

.button2 {
    text-decoration: none;
    color: #008000;
    padding: 5px 10px;
    border: 2px solid #008000;
    border-radius: 10px;
}